# Count all relevant source files
*.ts linguist-language=TypeScript
*.tsx linguist-language=TypeScript
*.js linguist-detectable=true
*.mjs linguist-detectable=true
*.css linguist-detectable=true
*.html linguist-detectable=true

# Ignore generated or build outputs from stats
.next/** linguist-vendored
dist/** linguist-vendored
src/types/* linguist-vendored
generated/* linguist-generated


* text=auto eol=lf
package-lock.json text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mp4 binary
*.mp3 binary
*.woff binary
*.woff2 binary
